<section id="users">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="row justify-content-between">
          <div class="col-md-10">
            <div class="content-header">ข้อมูลรถบรรทุก</div>
          </div>
          <div class="col-2">
            <div class="my-1">
              <button type="button" (click)="addData()" class="btn btn-info mr-2">
                <span class="d-flex align-items-center">
                  <i class="ft-plus mr-1"></i>
                  <span>สร้าง</span>
                </span>
              </button>
            </div>
          </div>
          </div>
        </div>

        <div class="card-content">
          <div class="card-body">
            <div class="row">
              <div class="form-group col-md-2">
                <label>แสดง:</label>
                <select class="form-control" [(ngModel)]="pageSize">
                  <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label> ฟิลเตอร์</label>
                <fieldset>
                  <div class="form-inline">
                    <div class="input-group">
                      <input type="text" class="form-control"  [(ngModel)]="searchTerm"  placeholder="ค้นหาข้อมูลในตาราง">
                      <div class="input-group-append">
                        <button class="btn btn-danger" (click)="clearTextSearch()">
                          <i class="ft ft-x-square"></i>
                        </button>
                      </div>
                      <button (click)="getTrucks()" class="btn btn-primary">ค้นหา </button>
                    </div>

                  </div>
                </fieldset>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered table-strip">
                <thead>
                  <tr>
                    <th>รหัส</th>
                    <th>ทะเบียนหัว</th>
                    <th>ทะเบียนหาง</th>
                    <th>จำนวนซีล</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of filterItems| paginate: { itemsPerPage: pageSize, currentPage: currentPage }">
                    <td>{{ item.truckId }}</td>
                    <td>{{ item.truckHead }}</td>
                    <td>{{ item.truckTail }}</td>
                    <td>{{ item.sealTotal }}</td>
                    <td>
                      <a class="btn btn-primary" (click)="editData(item)">
                        <i class="fa fa-pencil">แก้ไข</i>
                      </a>
                      <button  class="btn btn-danger" (click)="deleteTruck(item.truckId)">
                        <i class="fa fa-trash">ลบ</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
